<!DOCTYPE html>
<html>
  <head>
    <title><% provide :title, t ".title" %></title>
  </head>
  <body>
    <%= t ".title" %>
    <p>
      <%= t ".help-content1" %><%= link_to t(".help") %>
      <%= t ".help-content2" %><%= link_to t(".book") %>
    </p>
  </body>
</html>
