<footer class="footer">
  <small>
   <%= link_to t(".ruby_on_rails_tutorial") %>
   <%= link_to t(".michael_hartl") %>
  </small>
  <nav>
   <ul>
     <li><%= link_to t(".about"), about_path %></li>
     <li><%= link_to t(".contact"), contact_path %></li>
     <li><%= link_to t(".news"), Settings.settings.ruby_on_rails_tutorial %></li>
   </ul>
  </nav>
</footer>
