<div class="container-md">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-md">
      <%= link_to "sample app", root_path, id: "logo", class: "navbar-brand" %>
      <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to t(".home"), root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".help"), help_path, class: "nav-link" %>
          </li>

          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to t(".users"), users_path, class: "nav-link" %>
            </li>
            <li class="dropdown nav-item">
              <%= link_to t(".account"), "#", class: "dropdow-toggle nav-link",
                id: "dropdownUserOptions", "data-bs-toggle": "dropdown",
                "aria-expanded": "false", role: "button" %>
              <ul class="dropdown-menu" aria-labelledby="dropdownUserOptions">
                <li>
                  <%= link_to t(".profile"), current_user, class: "dropdown-item" %>
                </li>
                <li>
                  <%= link_to t(".settings"), edit_user_path(current_user), class: "dropdown-item" %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to t(".log_out"), logout_path,
                  data: {turbo_method: :delete}, class: "dropdown-item" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to t(".log_in"), login_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
